<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<form class="form" action="/answer" method="get">
  <input id="placeholder" type="text" name="question" placeholder="Type in your question">
  <input id="btn" type="submit" value="Ask">
</form>
