// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-yellow: #fff3b1;
$gray: gray;

.link {
  text-decoration: none;
  color: blue;
}

.answer {
  background-color: $light-yellow;
  padding: 20px 60px;
  border-left: 5px solid $gray;
}

#placeholder {
  border-radius: 5px;
}

#btn {
  background-color: #7b88ff;
  border-radius: 5px;
}
